<!DOCTYPE html>
<html lang="en" ng-app="funGifApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- font awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  
  <!-- custom styles -->
  <link type="text/css" rel="stylesheet" href="styles/main.css">

  <title>Laugh with Gifs</title>
</head>
<body id="page-top" ng-controller="MainCtrl">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-ng-init="isCollapsed = true" data-ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="images/logo.gif" alt=""></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-ng-class="{collapse: isCollapsed}">
        <ul class="nav navbar-nav navbar-left">
          <li ng-click="isCollapsed=!isCollapsed"><a href="/">Home</a></li>
          <li ng-click="isCollapsed=!isCollapsed"><a href="/favorites">Favorites</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-click="isCollapsed=!isCollapsed" ng-show="!currentUser"><a href="/signup">Sign Up</a></li>
          <li ng-click="isCollapsed=!isCollapsed" ng-show="!currentUser"><a href="/login">Log In</a></li>
          <li ng-click="isCollapsed=!isCollapsed" ng-show="currentUser.displayName"><a href="/profile">\{{currentUser.displayName}}
          </a></li>
          <li ng-click="isCollapsed=!isCollapsed" ng-show="currentUser.username && !currentUser.displayName"><a href="/profile">\{{currentUser.username}}
          </a></li>
          <li ng-click="isCollapsed=!isCollapsed" ng-show="currentUser"><a href="#" ng-click="logout()">Log Out</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div ng-view></div>
      </div>
    </div>
  </div>

  <!-- jquery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
  <!-- angular -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>

  <!-- ngRoute -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>

  <!-- ngResource -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>

  <!-- satellizer -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/satellizer/0.13.4/satellizer.min.js"></script>

  <!-- dir pagination -->
  <script type="text/javascript" src="scripts/dirPagination.js"></script>

  <!-- custom script (angular app) -->
  <script type="text/javascript" src="scripts/app.js"></script>
</body>
</html>