<div ng-show="!loaded" class="loading_holder text-center">
  <img src="images/loading.gif" class="loading img-responsive">
</div>
<div class="row" ng-if="favorites.length > 0">
  <a id="top"></a>
	<h3 class="text-center" id="favoriteTopAnchor">Our Favorite Gifs</h3>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" dir-paginate="favorite in favorites | itemsPerPage: favoritesPerPage" total-items="totalFavorites" current-page="pagination.current">
    <div class="thumbnail">
      <img ng-src="{{favorite.url}}" class="gif">
      <img src="images/giphy_logo.png" alt="">
      <a href="javascript:void(0)" ng-click="likeGif(favorite)"><i class="fa" ng-class="{'fa-heart pull-right': gif.liked, 'fa-heart-o pull-right': !gif.liked}"></i></a>  
      <a ng-show="currentUser._id === favorite.owner._id" href="javascript:void(0)" ng-click="deleteGif(favorite)"><span class="fa fa-trash pull-right"></span></a>
      <p><i class="fa fa-search"></i> <i>{{favorite.keyword}}</i>
        <br><i class="fa fa-clock-o"></i> {{favorite.imported}}
        <br><i class="fa fa-user"></i> {{favorite.owner.username}}
      </p>
    </div>
  </div>
  <br>
</div>
<div class="row text-center">
  <dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
</div>
<div class="row" ng-if="favorites.length == 0">
  <h3 class="text-center">No Favorites Gifs Found.</h3>
  <h5 class="text-center">Search for gif and favorite them <a href="/">here</a>.</h5>
</div>