<div class="row" ng-if="favorites.length > 0">
	<h3 class="text-center">Our Favorite Gifs</h3>
  <div class="col-md-3 col-xs-4" ng-repeat="favorite in favorites">
    <div class="thumbnail">
      <img ng-src="{{favorite.url}}" class="gif">
      <img src="images/giphy_logo.png" alt="">
      <a ng-show="currentUser._id === favorite.owner._id" href="javascript:void(0)" ng-click="deleteGif(favorite)"><span class="glyphicon glyphicon-trash pull-right"></span></a>
      <p>Keyword: <i>{{favorite.keyword}}</i>
        <br>Added: {{favorite.imported}}
        <br>username: {{favorite.owner.username}}
      </p>
    </div>
  </div>
</div>
<div class="row" ng-if="favorites.length == 0">
  <h3 class="text-center">No Favorites Gifs Found.</h3>
  <h5 class="text-center">Search for gif and favorite them <a href="/">here</a>.</h5>
</div>