<h1 class="text-center">Life is Beautiful
  <br>
  Find Your Laughters
</h1>
<form ng-submit="searchKeyword()" id="forSignupMsgAnchor" class="search-wrapper">
  <div class="input-group">
    <input type="text" ng-model="keyword" class="form-control" placeholder="Keyword..." autofocus required>  
    <span class="input-group-btn">
      <input class="btn btn-default search-btn" type="submit" value="Search">
    </span>
  </div>
</form>
<hr>
<div class="alert alert-warning" ng-show="signupMsg">Please sign up to save your favorites. <a href="/signup">Sign up</a>.</div>
<div ng-show="!loaded" class="loading_holder text-center">
  <img src="images/loading.gif" class="loading img-responsive">
</div>
<div class="row" ng-if="!searched" ng-init="gifInit()">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="gif in gifs">
    <div class="thumbnail">
      <img ng-src="{{gif.images.downsized.url}}" class="gif">
      <img src="images/giphy_logo.png" alt="">
      <p>
        <a href="javascript:void(0)" ng-click="saveGif(gif)" ng-class="{disabled: gif.favorited}" class="save-btn"> 
          <span class="glyphicon" ng-class="{'glyphicon-star full-star': gif.favorited, 'glyphicon-star-empty': !gif.favorited}"></span>  
          Save{{gif.saved}}
        </a>
      </p>
    </div>
  </div>
</div>
<div class="row" ng-if="searched && gifs.length > 0">
	<h3 class="text-center">Results for {{savedKeyword}}</h3>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="gif in gifs">
    <div class="thumbnail">
      <img ng-src="{{gif.images.downsized.url}}" class="gif">
      <img src="images/giphy_logo.png" alt="">
      <p>
        <a href="javascript:void(0)" ng-click="saveGif(gif)" ng-class="{disabled: gif.favorited}"> 
          <span class="glyphicon" ng-class="{'glyphicon-star': gif.favorited, 'glyphicon-star-empty': !gif.favorited}"></span>  
          Save{{gif.saved}}
        </a>
      </p>
    </div>
  </div>
</div>
<div class="row" ng-if="searched && gifs.length == 0 && loaded">
  <h3 class="text-center">No gifs found with the keyword <i>{{savedKeyword}}</i></h3>
</div>