<div id="login-background">	
	<div class="top-content login-signup-form">
	  <div class="inner-bg">
	    <div class="container">
	      <div class="row">
	        <div class="col-sm-8 col-sm-offset-2 text text-center">
	          <h1>Be Positive and Smile!</h1>
	        </div>
	      </div>
	      <div class="row">
	        <div class="col-sm-6 col-sm-offset-3 form-box">
	          <div class="form-top">
	            <div class="form-top-left">
	              <h3>Login to our site</h3>
	              <p>Enter your username and password to log in:</p>
	            </div>
	            <div class="form-top-right">
	              <i class="fa fa-lock"></i>
	            </div>
	          </div>
	          <div class="form-body">
	            <form ng-submit="login()">
	              <div class="form-group">
	                <input type="text" ng-model="user.email" class="form-control" placeholder="Email" autofocus required>
	              </div>
	              <div class="form-group">
	                <input type="password" ng-model="user.password" class="form-control" placeholder="Password" required>
	              </div>
	              <input type="submit" value="Sign In" class="btn form-control">
	            </form>
	            <br>
	            <p class="text-muted text-center">Don't have an account? <a href="/signup">Sign up here</a></p>
	          </div>
	          <div class="form-bottom text-center social-login">
	          	<h3>...or login with:</h3>
		          <div class="social-login-buttons">
		            <a class="btn btn-large btn-facebook" href="javascript:void(0)" ng-click="authenticate('facebook')">
		              <i class="fa fa-facebook"></i> Facebook
		            </a>
		            <a class="btn btn-large btn-google" href="javascript:void(0)" ng-click="authenticate('google')">
		              <i class="fa fa-google"></i> Google
		            </a>
		          </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>