<div ng-if="currentUser.username == currentUser.google || currentUser.username == currentUser.facebook">
	<div class="alert alert-warning"><strong>FYI!</strong> You can edit your randomly pick username!</div>
</div>
<div class="row" id="profile-wrapper">
  <div class="col-md-5">
    <div id="profile-info" class="text-center">
      <img src="{{currentUser.picture}}" class="img-responsive avatar img-rounded image-resize">
      <a href="#" ng-click="showEditForm=true" ng-hide="showEditForm" class="btn btn-default pull-right edit-profile-btn"><i class="fa fa-pencil"></i></a>
      <h4 class="text-muted">{{currentUser.displayName}}</h4>
      <h5 class="text-muted"><strong>Username:</strong> {{currentUser.username}}</h5>
      <h5 class="text-muted"><i class="fa fa-envelope-o"></i> {{currentUser.email}}</h5>
      <h5 class="text-muted"><i class="fa fa-clock-o"></i> Joined on {{currentUser.created | date:'MMMM dd, yyyy'}}</h5>
      <div class="profile_fav">
        <div class="user-favs">
          <strong class="fav-count">{{currentUserGifs.length}}</strong>
          <span class="text-muted">Favorite Gifs</span>
        </div>
        <div class="user-likes">
          <strong class="like-count">{{currentUserLikes}}</strong>
          <span class="text-muted">Likes</span>
        </div>
      </div>
      <form ng-show="showEditForm" ng-submit="editProfile()">
        <div class="form-group">
          <label for="editDisplayName" class="text-muted">Full Name:</label>
          <input type="text" id="editDisplayName" ng-model="currentUser.displayName" class="form-control" placeholder="Full Name">
        </div>
        <div class="form-group">
          <label for="editUsername" class="text-muted">Username:</label>
          <input type="text" id="editUsername" ng-model="currentUser.username" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="editEmail" class="text-muted">Email: </label>
          <input type="text" id="editEmail" ng-model="currentUser.email" class="form-control" placeholder="Email">
        </div>
        <input type="submit" value="Edit Profile" class="btn btn-success">&nbsp;
        <button ng-click="showEditForm=false" class="btn btn-default">Cancel</button>
      </form>
    </div>
  </div>
  <div class="col-md-7">
    <div class="row" ng-if="currentUserGifs.length > 0">
      <div class="userFavGifs">
        <h3 class="text-center">Your Favorite Gifs</h3>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-repeat="favorite in currentUserGifs">
          <div class="thumbnail">
            <img ng-src="{{favorite.url}}" class="gif">
            <img src="images/giphy_logo.png" alt="">
            <a href="javascript:void(0)" ng-click="deleteGif(favorite)"><span class="glyphicon glyphicon-trash pull-right"></span></a>
            <p>Keyword: <i>{{favorite.keyword}}</i>
              <br>Added: {{favorite.imported}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center" ng-if="currentUserGifs.length == 0">
      <img src="/images/laughter.png" alt="" id="laughter" class="img-responsive">
      <br>
      <br>
      <a href="/" class="btn btn-default btn-lg search-btn"><span class="glyphicon glyphicon-search"></span> Find Yours</a>
    </div>
  </div>
</div>


