body {
  background: -moz-linear-gradient(left, #2ad3c8 0%, #2a91e0 45%, #2490e2 57%, #76d7db 100%);
  background: -webkit-linear-gradient(left, #2ad3c8 0%,#2a91e0 45%,#2490e2 57%,#76d7db 100%);
  background: linear-gradient(to right, #2ad3c8 0%,#2a91e0 45%,#2490e2 57%,#76d7db 100%);
}
h1 {
  margin-top: 10px;
  font-size: 38px;
  font-weight: 100;
  color: #fff;
  line-height: 50px;
}

h3 {
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  line-height: 30px;
}
.navbar-default {
  border-radius: 0;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
}
a.navbar-brand {
  font-size: 26px;
  margin-bottom: 10px;
}
.navbar-brand>img {
  height: 30px;
}
.navbar-left a, .navbar-right a {
  font-size: 16px;
  margin-top: 5px;
}
/*small scroll top button*/
.scroll-top {
  z-index: 1049;
  position: fixed;
  right: 7%;
  bottom: 5%;
  width: 30px;
  height: 30px;
}

.scroll-top .btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 28px;
}

.scroll-top .btn:focus {
  outline: 0;
}
.btn-back-top {
  border: none;
}
/*homepage*/
.search-wrapper {
  width: 450px;
  padding: 15px;
  margin: 25px auto 25px auto;
  background: #444;
  background: rgba(0,0,0,.2);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
.search-btn, .btn-back-top {
  color: white;
  background-color: #dc4b3e;
}
.search-btn:hover, .search-btn:focus, .btn-back-top:hover, .btn-back-top:focus {
  background-color: #e55c52;
  color: white;
  text-decoration: none;
}
.save-btn {
  color: #dc4b3e;
  font-size: 20px;
  text-decoration: none;
}
.save-btn:hover, .save-btn:focus {
  color: #e55c52;
  text-decoration: none;
}
#facebook span.fwb {
   background: white;
    /* border: none; */
    border-radius: 2px;
    /* color: #fff; */
    cursor: pointer;
    /* font-weight: bold; */
    /* height: 20px; */
    line-height: 20px;
    text-decoration: none;
    padding: 4px;
}
/* thumbnails and loading gif*/
.thumbnail {
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
  border-radius: 0;
}
.thumbnail img.gif {
	height: 140px;
	margin-bottom: 5px;
}
.disabled {
  pointer-events: none;
 	cursor: default;
}
.loading {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
}

/*user profile*/
#profile-info {
  position: relative;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
}
#profile-info form {
  text-align: left;
}
.edit-profile-btn {
  position: absolute;
  top: 10px;
  right: 5px;
}
.avatar, #laughter {
  margin: 0 auto;
}
.user-favs, .user-likes {
	float: left;
  width: 50%;
}
.profile_fav {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 55px;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.fav-count, .like-count {
  display: block;
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
}
.userFavGifs {
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
  height: 600px;
  overflow: scroll;
}

/* favorites pages */
#find-your-smile {
  margin-top: 50px;
}
.favorites-info{
  margin-left: 5px;
}
.like-heart, .unlike-heart {
  color: #DC4B3E;
  font-size: 22px;
  margin-right: 5px;
}

/* login signup */

.login-signup-form a, .login-signup-form a:hover, .login-signup-form a:focus, .link,
.link:hover, .link:focus {
  color: #de615e;
  text-decoration: none;
}
.link:hover, .link:focus {
  font-weight: bold;
}
.login-signup-form .btn-large {
  display: inline-block;
  height: 50px;
  margin: 5px;
  padding: 15px 20px 0 20px;
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  border-radius: 4px;
  opacity: 0.9;
}
.login-signup-form .btn-large:hover, .login-signup-form .btn-large:focus, 
.login-signup-form .btn-large:active, .login-signup-form .btn-large:active:focus {
  outline: 0; 
  opacity: 1;
  color: white;
}
.login-signup-form .btn-facebook {
  background: #3B579D;
}
.login-signup-form .btn-google {
  background: #DC4B3E;
}
.login-signup-form .inner-bg {
    padding: 0px 0 50px 0;
}

.login-signup-form .top-content .text h1 {
  color: #333;
}

.login-signup-form .form-box {
  margin-top: 5px;
}

.login-signup-form .form-top {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #444;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 4px 4px 0 0;
  text-align: left;
}

.login-signup-form .form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}

.login-signup-form .form-top-left h3 {
  margin-top: 0;
}
.login-signup-form .form-top-left p {
  opacity: 0.8; color: #fff;
}

.login-signup-form .form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #fff;
  line-height: 100px;
  text-align: right;
  opacity: 0.3;
}

.login-signup-form .form-body {
  padding: 25px 25px 30px 25px;
  background: #444;
  background: rgba(0, 0, 0, 0.3);
  text-align: left;
}

.login-signup-form .form-body p {
  color: #fff;
  margin-bottom: 0;
}

.login-signup-form .form-body form textarea {
  height: 100px;
}

.login-signup-form .form-body form button.btn {
  width: 100%;
}

.login-signup-form .form-body form .input-error {
  border-color: #de615e;
}

.login-signup-form .form-bottom {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #444;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 0 0 4px 4px;
}

.social-login-buttons {
  margin-top: 10px;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {
  .userFavGifs {
    height: 100%;
    overflow-x: hidden; 
    overflow-y: hidden;
  }
  #profile-info {
    text-align: center;
  }
  .thumbnail img.gif {
    height: 160px;
  }
  .favorites-info{
    font-size: 20px;
  }
  .like-heart, .unlike-heart {
    font-size: 32px;
    margin-right: 5px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
  .search-wrapper {
    width: 300px;
    margin: 25px auto 25px auto;
  }
  .userFavGifs {
    height: 100%;
    overflow-x: hidden; 
    overflow-y: hidden;
  }
  .loading {
    width: 100px;
  }
  .login-signup-form .inner-bg {
    padding: 0;
  }
  .thumbnail img.gif {
    height: 160px;
  }
  .login-signup-form h1 {
    font-size: 32px;
  }
  .thumbnail img.gif {
    height: 160px;
  }
  .favorites-info{
    font-size: 20px;
  }
  .like-heart, .unlike-heart {
    font-size: 32px;
    margin-right: 5px;
  }
  .userFavGifs img.gif {
    height: 140px;
  }
}

@media (max-width: 415px) {
  
  .login-signup-form h1 {
    font-size: 32px;
  }
  .thumbnail img.gif {
    height: 180px;
  }
  .favorites-info{
    font-size: 20px;
  }
  .like-heart, .unlike-heart {
    font-size: 32px;
    margin-right: 5px;
  }
  .userFavGifs img.gif {
    height: 140px;
  }
}